certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
coverage==6.5.0
coveralls==3.3.1
docopt==0.6.2
es7s.commons==1.7.0
exceptiongroup==1.2.0
idna==3.6
iniconfig==2.0.0
packaging==23.2
pluggy==1.4.0
pytermor==2.118.0.dev0
pytest==7.4.4
pytest-cov==4.1.0
requests==2.31.0
tomli==2.0.1
typing_extensions==4.9.0
urllib3==2.2.0
